<template name="chart">
  <p class="btn-group btn-group-8 full-width" role="group">
    <button type="button" class="btn btn-primary">1 Hour</button>
    <button type="button" class="btn btn-primary">1 Day</button>
    <button type="button" class="btn btn-primary">7 Day</button>
    <button type="button" class="btn btn-primary">1 Month</button>
    <button type="button" class="btn btn-primary">3 Month</button>
    <button type="button" class="btn btn-primary">1 Year</button>
    <button type="button" class="btn btn-primary">5 Year</button>
    <button type="button" class="btn btn-primary">Max</button>
  </p>
  <div class="chart"></div>
</template>
